.featured{
    position: relative;
    background-image: url('../assets/home/featured.jpg');
    padding: 45px 0 90px;
    color: white;
    z-index: 1;
    background-position: center;
    background-size: cover;
}

.featured::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .7;
    z-index: -1;
}